<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.collection.mobile.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--<uses-feature android:name="android.hardware.camera" />-->

    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!--<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />-->

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="user.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity
            android:name="base.HelpActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>-->
        <activity
            android:name="user.PermissionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="user.login.LoginActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="user.changepassword.ChangePasswordActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="ops.screen.fragment.FullEntry"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="ops.screen.FormActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="ops.screen.TaskListActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="ops.screen.fragment.HistoryListDetail"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>
        <!--<activity-->
            <!--android:name="user.pin.AddPinActivity"-->
            <!--android:noHistory="true"-->
            <!--android:screenOrientation="portrait"></activity>-->
        <!--<activity-->
            <!--android:name="user.pin.ChangePinActivity"-->
            <!--android:noHistory="true"-->
            <!--android:screenOrientation="portrait"></activity>-->
        <!--<activity-->
            <!--android:name="user.pin.AskPinActivity"-->
            <!--android:noHistory="true"-->
            <!--android:screenOrientation="portrait"></activity>-->

        <!-- Service Locaation Yang baru START -->



        <!--<activity android:name=".application.SubmitDana"></activity>-->

        <service
            android:name="base.utils.MyFirebaseMessagingService"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
    <service android:name="base.utils.MyFirebaseInstanceIDService">
    <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
    </intent-filter>
</service>

        <service android:name="base.utils.UserTypeService" />

    </application>

</manifest>